* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

.navigation{
    border-radius: 4px;
    padding-right: 20px;
    background-color: #fff;
    padding: 20px 50px 20px 20px;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: rgb(6, 6, 6);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
}

.home .content {
    z-index: 888;
    color: #ffffff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1 {
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
}

.home .content a {
    background: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.im {
    max-width: 100px;
    border-radius: 15%;
}

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 3px;
    }

    header .navigation.active .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
    }

   

    .menu-btn {
        background: url(menu1.png.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(imagesss.png)no-repeat;
        background-size: 25px;
        cursor: pointer;
        transition: 0.3s ease;
    }
}

.container1 {
    text-align: center;
    height: 150px;
    text-transform: uppercase;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal12 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal13 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal14 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal15 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal16 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal17 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal18 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal19 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal20 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal21 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal22 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal23 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal24 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal25 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal26 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal27 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal28 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal29 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal30 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal31 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.modal__box {
    position: relative;
    max-width: 500px;
    padding: 55px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box12 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box13 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box14 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box15 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box16 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box17 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box18 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box19 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box20 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box21 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box22 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box23 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box24 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box25 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box26 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box27 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box28 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box29 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box30 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__box31 {
    position: relative;
    max-width: 500px;
    padding: 25px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform 0.8s;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}


.modal__close-btn12 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn13 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn14 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn15 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn16 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn17 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn18 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn19 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn20 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn21 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn22 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn23 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn24 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn25 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn26 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn27 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn28 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn29 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn30 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn31 {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill 0.4s;
}

.modal__close-btn12 svg path {
    transition: fill 0.4s;
}

.modal__close-btn13 svg path {
    transition: fill 0.4s;
}

.modal__close-btn14 svg path {
    transition: fill 0.4s;
}

.modal__close-btn15 svg path {
    transition: fill 0.4s;
}

.modal__close-btn16 svg path {
    transition: fill 0.4s;
}

.modal__close-btn17 svg path {
    transition: fill 0.4s;
}

.modal__close-btn18 svg path {
    transition: fill 0.4s;
}

.modal__close-btn19 svg path {
    transition: fill 0.4s;
}

.modal__close-btn20 svg path {
    transition: fill 0.4s;
}

.modal__close-btn21 svg path {
    transition: fill 0.4s;
}

.modal__close-btn22 svg path {
    transition: fill 0.4s;
}

.modal__close-btn23 svg path {
    transition: fill 0.4s;
}

.modal__close-btn24 svg path {
    transition: fill 0.4s;
}

.modal__close-btn25 svg path {
    transition: fill 0.4s;
}

.modal__close-btn26 svg path {
    transition: fill 0.4s;
}

.modal__close-btn27 svg path {
    transition: fill 0.4s;
}

.modal__close-btn28 svg path {
    transition: fill 0.4s;
}

.modal__close-btn29 svg path {
    transition: fill 0.4s;
}

.modal__close-btn30 svg path {
    transition: fill 0.4s;
}

.modal__close-btn31 svg path {
    transition: fill 0.4s;
}

.modal__close-btn:hover svg path {
    fill: blue;
}

.modal__close-btn12:hover svg path {
    fill: blue;
}

.modal__close-btn:active svg path {
    fill: black;
}

.modal__close-btn12:active svg path {
    fill: black;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal12.open {
    visibility: visible;
    opacity: 1;
}

.modal13.open {
    visibility: visible;
    opacity: 1;
}

.modal14.open {
    visibility: visible;
    opacity: 1;
}

.modal15.open {
    visibility: visible;
    opacity: 1;
}

.modal16.open {
    visibility: visible;
    opacity: 1;
}

.modal17.open {
    visibility: visible;
    opacity: 1;
}

.modal18.open {
    visibility: visible;
    opacity: 1;
}

.modal19.open {
    visibility: visible;
    opacity: 1;
}

.modal20.open {
    visibility: visible;
    opacity: 1;
}

.modal21.open {
    visibility: visible;
    opacity: 1;
}

.modal22.open {
    visibility: visible;
    opacity: 1;
}

.modal23.open {
    visibility: visible;
    opacity: 1;
}

.modal24.open {
    visibility: visible;
    opacity: 1;
}

.modal25.open {
    visibility: visible;
    opacity: 1;
}

.modal26.open {
    visibility: visible;
    opacity: 1;
}

.modal27.open {
    visibility: visible;
    opacity: 1;
}

.modal28.open {
    visibility: visible;
    opacity: 1;
}

.modal29.open {
    visibility: visible;
    opacity: 1;
}

.modal30.open {
    visibility: visible;
    opacity: 1;
}

.modal31.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

.modal12.open .modal__box12{
    transform: scale(1);
}

.modal13.open .modal__box13{
    transform: scale(1);
}

.modal14.open .modal__box14{
    transform: scale(1);
}

.modal15.open .modal__box15{
    transform: scale(1);
}

.modal16.open .modal__box16{
    transform: scale(1);
}

.modal17.open .modal__box17{
    transform: scale(1);
}

.modal18.open .modal__box18{
    transform: scale(1);
}

.modal19.open .modal__box19{
    transform: scale(1);
}

.modal20.open .modal__box20{
    transform: scale(1);
}

.modal21.open .modal__box21{
    transform: scale(1);
}

.modal22.open .modal__box22{
    transform: scale(1);
}

.modal23.open .modal__box23{
    transform: scale(1);
}

.modal24.open .modal__box24{
    transform: scale(1);
}

.modal25.open .modal__box25{
    transform: scale(1);
}

.modal26.open .modal__box26{
    transform: scale(1);
}

.modal27.open .modal__box27{
    transform: scale(1);
}

.modal28.open .modal__box28{
    transform: scale(1);
}

.modal29.open .modal__box29{
    transform: scale(1);
}

.modal30.open .modal__box30{
    transform: scale(1);
}

.modal31.open .modal__box31{
    transform: scale(1);
}

.modal_img{
    max-width: 20%;
    margin-top: -26%;
}

.modal_p{
    margin-left: 26%;
    padding-bottom: 1%;
    display: list-item;
}

.h11 {
    color: #1680AC;
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prevBtn {
    left: 20px;
}

#nextBtn {
    right: 20px;
}


.header{
    margin-bottom: 1rem;
    margin-top: 100px;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .product-thumb {
    height: 100%;
    object-fit: cover;
  }

  .card-btn {
    position: absolute;
    bottom: 3px;
    left: 45%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    font-size: 20px;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  
  .modal123 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background: #fff;
    width: 80%;
    max-width: 600px;
}

.modal-content button {
    display: block;
    margin: 10px auto;
}

.p1{
    font-size: 18px;
    margin-top: 25px;
    line-height: 25px;
}

.contact {
    display: flex;
    flex-direction: row-reverse; 
    margin-top: 50px;
}

.text {
    flex: 1;
    padding: 0 20px;
}

.contact_info {
    font-size: 20px;
    color: #000000;
}

.cont_p{
    font-size: 40px;
    margin-left: 145px;
    margin-top: 200px;
    font: normal bold 40px 'Trebuchet MS', Trebuchet, sans-serif;
}

.cont_img {
    max-width: 25%;
    margin-left: 145px;
    padding: 5px;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.b {
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .contact_info{
        border: 2px solid;
    }
}

@media only screen and (max-width: 768px) {
    .text {
        font-size: 14px;
    }

    .cont_img {
        display: none;
    }
}

.null{
    height: 100px;
}

.black-background {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 4px;
    
}

#glaw{
    transition: all 0.5s ease;
}